.other-wrapper {
  display: flex;
}

.other-offers {
  flex-basis: 40%;
  padding: 80px 0 0 50px;
}

.other-images {
  flex-basis: 60%;
  padding-top: 80px;
}

.other-images img:hover {
  transform: scale(1.04);
}
.other-images img {
  margin-left: 30px;
}

.other-offers {
  width: 100%;
  height: 500px;
  color: white;
}
.other-offers p {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .other-wrapper {
    display: block;
    width: 100%;
    font-size: 20px;
  }
  .other-wrapper .other-offers p {
    margin-right: 100px;
    font-size: 20px;
  }
  .other-wrapper .other-images img {
    margin-left: 100px;
    margin-bottom: 10px;
  }
  .other-wrapper .other-images {
    margin-top: -350px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 576px) {
  @media screen and (max-width: 768px) {
    .other-wrapper {
      display: block;
      width: 100%;
      font-size: 20px;
    }
    .other-wrapper .other-offers p {
      margin-right: 100px;
      font-size: 20px;
    }
    .other-wrapper .other-images img {
      margin-left: 235px;
    }
    .other-wrapper .other-images {
      margin-top: -350px;
    }
  }
}

@media screen and (min-width: 992px) {
  @media screen and (max-width: 1200px) {
    .other-offers {
      padding-top: 125px;
      flex-basis: 40%;
    }
    .other-offers p {
      font-size: 25px;
    }
    .other-images {
      padding-top: 140px;
      flex-basis: 60%;
    }
    .other-wrapper .other-images img {
      width: 200px;
      height: 130px;
    }
    .other-images img {
      margin-left: 10px;
      margin-right: 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  @media screen and (max-width: 1550px) {
    .other-offers {
      padding-top: 125px;
      flex-basis: 50%;
    }
    .other-offers p {
      font-size: 25px;
    }
    .other-images {
      padding-top: 140px;
      flex-basis: 50%;
    }
    .other-wrapper .other-images img {
      width: 200px;
      height: 130px;
    }
    .other-images img {
      margin-left: 10px;
      margin-right: 5px;
    }
  }
}